<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8">
      <title>NDS Predictions</title>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
      
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
      <link rel="stylesheet" href="FINAL.css">

   </head>
   <body>
      <header>
         <nav class="navbar navbar-default">
         <div class="container-fluid">
            <div class="navbar-header">
               <button type="button" class=" navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
               <span class="sr-only">Toggle navigation</span>
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
               </button>
               <a class="navbar-brand" class = "hoverthing" href="/">NDS Predictions</a>
            </div>
            <ul class="nav navbar-nav navbar-right">
               </li>
               <li><a class= "hoverthing" href="/aboutus">About Us</a></li>
               <li><a class = "hoverthing" href="/model"">Our Model</a></li>
               <li><a class = "hoverthing" href="/alluvial">Predictions</a></li>
               <li><a class = "hoverthing" href="/bestvsworst">Worst Ranked Team vs. Best Ranked Team</a></li>
            </ul></ul>
            </li>
            </ul>
         </div>
         </div>
      </header>
      <main>
         <div class='container'>
          <div class="row">
               <div class="col-lg-6">               
                     <div class="embed-responsive embed-responsive-4by3">
                           <iframe class="iframe-container" src="https://streamable.com/s/d8neq/wiyfgq" allowfullscreen></iframe>
                         </div></div>
               <div class="col-lg-6">
                  <h2><center>Who We Are:</h2></center>
                  <p>&emsp;&emsp; NDS is a comprehensive data analytics solution to your most pressing basketball needs. Our predictions and analysis will help your team move up the ladder and secure the Larry O'Brien NBA Championship Trophy. Through patented technology, we will help you understand what areas your team excels in and what area your team needs to improve.
                  <p>&emsp;&emsp; By utilizing multiple linear regressions and machine learning model NDS analyzes game statistics from previous seasons to identify which performance dimensions are the most influential factors in a game. This model can not only predict the outcome of future games, with much higher accuracy than any other model on the market, it can also be adjusted so you can determine what your team should focus on in the coming week to change the outcome of your next game.
               </div></div></div></div>

               <h2><center>Client Reviews:</center></h2>
               <center><h1><i>“I never would have believed I could have returned to the Cleveland Cavaliers to win them another championship until NDS proved I could with cold, hard data.” -Anonymous"<i></h1></center>
               <center><h1><i>“NDS has been instrumental in helping me, as the head coach, bring 3 championship trophies to the Golden State Warriors. In all honesty, they should probably have my job.” -Anonymous"</h1><i></h1></center>
            </div></div></div>
         </div>   
         </div>

            </div>
         </div>
      </main>
   </body>
   <br>
   <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
</html>
