<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8">
      <title>NDS Predictions</title>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
      
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
      <link rel="stylesheet" href="FINAL.css">

   </head>
   <body>
      <header>
         <nav class="navbar navbar-default">
         <div class="container-fluid">
            <div class="navbar-header">
               <button type="button" class=" navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
               <span class="sr-only">Toggle navigation</span>
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
               </button>
               <a class="navbar-brand" class = "hoverthing" href="/">NDS Predictions</a>
            </div>
            <ul class="nav navbar-nav navbar-right">
               </li>
               <li><a class= "hoverthing" href="/aboutus">About Us</a></li>
               <li><a class = "hoverthing" href="/model"">Our Model</a></li>
               <li><a class = "hoverthing" href="/alluvial">Predictions</a></li>
               <li><a class = "hoverthing" href="/bestvsworst">Worst Ranked Team vs. Best Ranked Team</a></li>
            </ul></ul>
            </li>
            </ul>
         </div>
         </div>
      </header>
      <main>
        <h2><center>How We Can Benefit You:</center></h2> 
        <div class='container'>
                <div class="row">
                        <div class="col-md-6"> 
                            <center><h1>Defense</h1></center>
                            <img src="defense.png">
                            <br><h5>“DRB”- Defensive Rebounds
                                    “STL”- Steals
                                    “BLK”- Blocks
                                    “PF”- Personal Fouls</h5>
                        </br></div>
                        <div class="col-md-6">
                            <center><h1>Offense</h1></center>
                            <img src="shooting.png">
                            <br><h5>“FG%”- Field goal Percentage
                                    “3P%”- Three-point Percentage
                                    “2P%”- Two-point Percentage
                                    “FT%”- Free throw Percentage</h5>
                        </br>
                        </div>
                        </div>
                        <p>These graphs show the difference in output for offense and defense between the best and worst ranked team for the 2017-2018 season. As you can see, the differences are small. This is where NDS comes in to focus your team’s energy on closing these small gaps that can make all the difference.</p>
                    </div>
         </div>
      </main>
   </body>
   <br>
   <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
</html>
