<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8">
      <title>NDS Predictions</title>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
      
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
      <link rel="stylesheet" href="FINAL.css">

   </head>
   <body>
      <header>
         <nav class="navbar navbar-default">
         <div class="container-fluid">
            <div class="navbar-header">
               <button type="button" class=" navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
               <span class="sr-only">Toggle navigation</span>
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
               </button>
               <a class="navbar-brand" class = "hoverthing" href="/">NDS Predictions</a>
            </div>
            <ul class="nav navbar-nav navbar-right">
               </li>
               <li><a class= "hoverthing" href="/aboutus">About Us</a></li>
               <li><a class = "hoverthing" href="/model"">Our Model</a></li>
               <li><a class = "hoverthing" href="/alluvial">Predictions</a></li>
               <li><a class = "hoverthing" href="/bestvsworst">Worst Ranked Team vs. Best Ranked Team</a></li>
            </ul></ul>
            </li>
            </ul>
         </div>
         </div>
      </header>
      <main>
         <div class='container'>
          <div class="row">
               <!-- <div class="col-md-7 col-sm-12 box"> -->
                  <div class="jumbotron">
                      <div id="myCarousel" class="carousel slide" data-ride="carousel">
                          <!-- Indicators -->
                          <ol class="carousel-indicators">
                            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                            <li data-target="#myCarousel" data-slide-to="1"></li>
                            <li data-target="#myCarousel" data-slide-to="2"></li>
                          </ol>
                        
                          <!-- Wrapper for slides -->
                          <div class="carousel-inner" role="listbox">
                            <div class="item active">
                              <img src="basketball_dude.jpg" alt="New York">
                              <div class="carousel-caption">
                                <h3></h3>
                                <p></p>
                              </div> 
                            </div>
                        
                            <div class="item">
                              <img src="basketball_wow.jpg" alt="Chicago">
                              <div class="carousel-caption">
                                <h3></h3>
                                <p></p>
                              </div> 
                            </div>
                        
                            <div class="item">
                              <img src="basketball_image.jpeg" alt="Los Angeles">
                              <div class="carousel-caption">
                                <h3></h3>
                                <p></p>
                              </div> 
                            </div>
                          </div>
                        
                          <!-- Left and right controls -->
                          <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                          </a>
                          <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                          </a>
                        </div>
                  </div>
               </div>

            </div>
         </div>
      </main>
   </body>
   <br>
   <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
</html>
